POOL_STATE='Hjm1F98vgVdN7Y9L46KLqcZZWyTKS9tj9ybYKJcXnSng'
KEYPAIR_PATH='keys.json'
GAMMA_CONFIG='68yDnv1sDzU3L2cek5kNEszKFPaK9yUJaC4ghV5LAXW6'
GAMMA_PROGRAM='GAMMA7meSFWaBXF25oSUgmGRwaW6sCMFLmBNiMSdbHVT'
GAMMA_POOL_FEE_ACCOUNT='8PhehuioLjhJ35A5eavazJSwoXcA4J7WwzgoWDBDFSuY'
SLIPPAGE_BPS=1000
MINT1='So11111111111111111111111111111111111111112'
MINT2='EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v'